* {
    margin: 0;
    font-family: Open Sans;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 10px;
    background: #FD6E0A;
    text-decoration: none;
}
.btn-primary a{
    text-decoration: none;
    color: #FFFFFF;
}
.btn-primary a:hover {
    color: #000000da;
}
.btn-primary:hover {
    background: #66ccff;
    transition: 0.5s;  
    color: #000000da;
}



.header {
    background: #FFF8F3;
    background-image: url('../images/25552.jpg');
    background-repeat: no-repeat;   
    background-position: center;

}
/* header navigation style */
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 48px;
    color: #FFFFFF;

}
nav ul{
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-left: 50px;
    color: #FFFFFF;
}
nav li:hover {
    color: #FD6E0A;
    
}
span {
    color: #FD6E0A;
}

/* banner style */

.banner {
    width: fit-content;
    display: flex;
    
    align-items: center;
   
    margin: 0 200px;
}
.banner img {
    margin: 0;
    padding-left: 100px;
}
.banner-title {
    font-weight: 700;
    font-size: 70px;
    color: #FD6E0A;
    margin-bottom: 10px;
}
.banner-sub-title {
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 20px;
    color: #FD6E0A;
}
.banner-description {
    color: #aba9a9;
    font-size: 18px;
    margin-bottom: 50px;

}
.banner img {
    width: 45%;
}

/* main section */
main {
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
/* About section style */
.About{
    background: #072047;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    color: #FD6E0A;
}
.section-description {
    color: #aba9a9;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.info-title {
    font-size: 24px;
    color: #FD6E0A;
    font-weight: 800px;
}
.info-description {
    color: #aba9a9;
    font-size: 18px;
    font-weight: 700;
    
}
.skill-container {
    display: flex;
    gap: 24px;
}
.skilled-in{
    background: #072047;
}
.skilled-in img {
    width: 100px;
    margin-left: 80px;
    margin-top: 20px;
}
.skill-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #FD6E0A;
}
.skill-description {
    color: #aba9a9;
    margin: 20px;
}